.idea/
.vscode/
*.iml
__pycache__/
*.pyc
.tools/
2526_BLG_475E_Project.pdf

Phase1/target/
Phase2/target/

Phase1/data/raw/*.jsonl.gz
Phase1/tasks/**/dataset/canonical_solution.java
Phase1/results/artifacts/

coverage/
jacoco.exec
